 /* CSS for Calculator Layout */
 *{
    background-origin: padding-box;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    background-color: #FAF1E4; 
 }
h1{
   text-align: center;
   text-transform: uppercase;
   color: #FAF1E4;
   text-shadow: #ffffff 7px 7px 12px,
   #698d47 1px 1px 7px;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }  
 #calculator {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid hsl(0, 21%, 13%) ;
    border-radius: 10px;
    background-color: #CEDEBD;
    box-shadow: #9EB384 12px 12px 8px;
}
#display {
    font-size: 24px;
    text-align: right;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #111111;
    border-radius: 5px;
    background-color: #6925b742;
}
button {
    width: 60px;
    height: 60px;
    font-size: 18px;
    margin: 5px;
    background-color: #698d47;
    border-style: groove;
}